.documentItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 12px;
  cursor: pointer;
}

.documentItemName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deleteBtn {
  visibility: hidden;
}

.documentItem:hover .deleteBtn {
  visibility: initial;
}
