.documentValue {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  padding: 12px;
  align-items: center;
  border: 1px solid #dadada;
  border-radius: 5px;
}

.textInput {
  display: flex;
  flex: 1;
  margin: 0 12px 0 6px;
}

.deleteBtn {
  visibility: hidden;
}

.documentValue:hover .deleteBtn {
  visibility: initial;
}
